* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

body {
    /* background-color: #2874F0; */
    background-color: #f8fafc;
    color: black;
}

h3 {
    margin-top: 45px;
    width: auto;
    display: flex;
    justify-content: center;
    color: black;
}

.thankyou {
    width: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-card {
    height: 375px;
    margin: 10px;
    width: 275px;
    border-radius: 12px;
    border: 1.5px solid #eaeaea;
    box-shadow: 0 10px 30px -10px rgba(15, 23, 42, 0.04);
    background-color: #ffff;
    align-items: center;
}

.product-card-row {
    margin: 10px;
}

.product-card .imagecard {
    width: 275px;
    height: 280px;
    margin-bottom: 5px;
    border-bottom: 1.5px solid #eaeaea;
    box-shadow: 0 10px 30px -10px rgba(15, 23, 42, 0.04);

    display: flex;
    justify-content: center;
}

.h4 {
    color: black;
    margin: 5px;
}

.product-card-row {
    display: block;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

img {
    margin: 10px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    border: 1.5px solid #eaeaea;
    box-shadow: 0 10px 30px -10px rgba(15, 23, 42, 0.04);
    background-color: white;
}

.productsfull {
    display: flex;
    justify-content: center;
}

.selection-main {
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
}

select {
    appearance: none;
    font: inherit;
    padding: 1rem;
    border: 1.5px solid #eaeaea;
    box-shadow: 0 10px 30px -10px rgba(15, 23, 42, 0.04);
    border-radius: 1rem;
    background-color: #fff;
    line-height: 1.6;

    &:open {
        background-color: #fff;
    }

    option {
        background-color: #a5a5a5;
    }
}

.COFFEE-CARDS {
    display: none;
}

.TEA-CARDS {
    display: none;
}

.DAIRY-CARDS {
    display: none;
}

@media screen and (min-width: 800px) {
    .productsfull {
        display: block;
        justify-content: center;
    }

    .product-card-row {
        display: flex;
    }
}